@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(0, 0, 0);
}

.main-cantainor {
  background-image: url(images/IN-en-20250602-TRIFECTA-perspective_27a3fdfa-126f-4148-b153-55d60b51be6a_large.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
  position: relative;
}

.layer {
  background-color: black;
  height: 90vh;
  width: 100%;
  opacity: 0.79;
  position: absolute;
  top: 0;
}

.navigation {
  height: 5rem;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  margin: auto;
  padding-top: 50px;
  
}

.logo {
  width: 12.2rem;
  cursor: pointer;
}

#sign {
  border: 0;
  outline: 0;
  background-color: #ff0000;
  color: #fff;
  padding: 10px 22px;
  font-size: 24px;
  border-radius: 6px;
  margin-left: 0.87rem;
  cursor: pointer;
  font-weight: 100;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lang {
  background: transparent;
  background-color: #000000e3;
  color: #fff;
  width: 150px;
  padding-block: 14px;
  border: 2px solid #fff;
  border-radius: 6px;
  text-align: center;
  font-weight: 100;
  font-size: large;
}

.hero {
  height: calc(90vh - 14vh);
  width: 100%;
  position: relative;
  z-index: 10;
  color: #fff;
}

.content {
  height: 60vh;
  width: 80vw;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  margin: auto auto;
}

.hero-content-up h1 {
  font-weight: 300;
  font-size: 2rem;
}

.hero-content-up p {
  font-weight: 400;
  font-size: 1.5rem;
  font-weight: 100;
}

.hero-content-down {
  margin-top: 0.5rem;
}

.hero-content-down-btn {
  margin-top: 1rem;
}

#para-02 {
  font-weight: 100;
  font-size: 1.5rem;
}

.hero-content-down-btn input {
  background-color: rgba(23, 23, 23, 0.4);
  border: 1px solid white;
  border-radius: 3px;
  padding: 24px 48px;
  margin-right: 5px;
  width: 40rem;
  color: #fff;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

#btn {
  background-color: #ff0000;
  color: #fff;
  padding: 24px 48px;
  border-radius: 7px;
  border: none;
  font-size: 24px;
  font-weight: 100;
  cursor: pointer;
}

.separetion {
  background-color: rgb(46, 44, 44);
  height: 0.5rem;
  width: 100%;
  z-index: 10;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
}

.secImg {
  position: relative;
}

.secImg img {
  width: 555px;
  position: relative;
  z-index: 10;
  padding: -3px -2px;
}

.secImg video {
  position: absolute;
  top: 51px;
  right: 0;
  width: 555px;
}

section.first > div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}

section.first > div :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
}

section.first > div :nth-child(2) {
  font-size: 24px;
}

.faq h2 {
  text-align: center;
  font-size: 48px;
}

.faq {
  background: black;
  color: white;
  padding: 34px;
  padding-bottom: 3rem;
}

.faqbox:hover {
  background-color: #414141;
  color: white;
}

.faqbox svg {
  filter: invert(1);
}

.faqbox {
  transition: all 1s ease-out;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  padding: 24px;
  max-width: 80vw;
  margin: 34px auto;
  cursor: pointer;
  font-weight: 100;
}

a {
  color: #999;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.signup {
  text-align: center;
  padding: 40px 20px;
  color: #fff;
}

.email-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.email-box input {
  padding: 15px;
  width: 40rem;
  max-width: 80%;
  border: none;
  border-radius: 2px 0 0 2px;
  font-size: 20px;
}

.email-box button {
  padding: 20px 25px;
  border: none;
  background-color: #e50914;
  color: white;
  font-size: 20px;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}

footer {
  padding: 50px 80px;
  background-color: #000;
  margin-left: 50px;
  font-size: 20px;
  font-weight: 100;
}

footer p {
  margin: 0 0 20px 0;
  font-size: large;
  color: #999;
}

.footer-cols {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.footer-cols ul {
  list-style: none;
  padding: 0;
  width: 100px;
  margin-bottom: 20px;
}

.footer-cols li {
  margin-bottom: 10px;
}

.language-select {
  background-color: #000;
  color: #fff;
  padding-block: 10px;
  border: 2px solid #fff;
  border-radius: 6px;
  text-align: center;
  margin: 20px 20px 20px 0;
  width: 130px;
}

@media (max-width: 800px) {
  .footer-cols {
    flex-direction: column;
  }

  .email-box {
    flex-direction: column;
  }

  .email-box input,
  .email-box button {
    width: 100%;
    border-radius: 2px;
    margin: 5px 0;
  }

  .footer-cols ul {
    width: 100%;
  }
}
